body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

h1 {
    text-align: center;
    font-weight: bold;
}

section {
    font-weight: bold;
    padding: 10px;
    margin: 20px 10px 20px 10px;
    border: 3px solid;
}

#chicken {
    color: black;
    background-color: rgb(213, 152, 152);
}

#beef {
    color: white;
    background-color: rgb(193, 69, 67);
}

#sushi {
    color: black;
    background-color: rgb(229, 209, 152);
}

article {
    color: black;
    background-color: rgb(153, 153, 153);
    font-weight: 500;
    padding: 10px;
}